/* fonts
   -----
   
   
   */

body {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
  position: relative;
  height: 100%;
}

/* ================
     TYPOGRAPHY 
================ */

h1 {
  font-family: "Monoton", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: black;
  margin: 0;
}

.site-subtitle {
  font-size: 0.75rem;
  margin: 0;
}

/* ================
      LAYOUT
================ */

header {
  text-align: center;
  background: #f8f8f8;
  padding: 2em 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

nav a:hover,
nav a:focus {
  color: rgb(211, 4, 4);
}

.current-page {
  border-bottom: 1px solid #707070;
  padding: 0;
  margin: 0;
}

.page-container {
  position: relative;
  min-height: 100%;
}
